[alias]
  br = branch
  bv = branch -vv
  catchup = log -p --reverse --topo-order --first-parent -m
  ci = commit
  co = checkout
  ds = diff --staged
  l = log --pretty='format:%C(yellow)%h%x09%C(cyan)%ai%x09%C(green)%aN%Creset%x09%s'
  lg = log --graph --pretty='format:%C(yellow)%h%C(brightblue)%d %Creset%s %C(green)%aN %C(cyan)%ar%Creset'
  lgd = log --oneline --graph --decorate
  po = remote prune origin
  sco = !git stash && git co
  spp = !git stash && git pull && git stash pop
  ss = status --short
  st = status
  unstage = reset HEAD
[branch]
  autosetuprebase = always
[color]
  branch = auto
  diff = auto
  grep = auto
  interactive = auto
  status = auto
  ui = auto
[color "branch"]
  current = brightyellow
  local = yellow
  remote = green
  upstream = green
[color "diff"]
  meta = yellow
  frag = cyan
  old = brightred
  new = brightgreen
  whitespace = red reverse
[color "status"]
  added = green
  changed = brightred
  untracked = cyan
[core]
  excludesfile = ~/.gitignore_global
  pager = less -FRX
[diff]
  guitool = kdiff3
  tool = kdiff3
[difftool]
  prompt = false
[fetch]
  prune = true
[gui]
  fontdiff = -family Menlo -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[merge]
  tool = kdiff3
[push]
  default = upstream
[rebase]
  stat = true
[user]
  name = Alex Muntean
  # email = set in /usr/local/etc/gitconfig
